:root {
  --primary-color: #007AF3;
}

body {
  font-family: 'Century Gothic';
  margin: 0;
  background: #F2F2F2;
}

.navbar {
  background: gray;
  position: fixed;
  width: 100%;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .container .logo {
  color: white;
  margin-left: 2em;
}

.navbar .container .logo span {
  border: 1px solid black;
  padding: .2em;
}

.navbar .container .add {
  color: white;
  font-size: 1.7em;
  font-weight: bold;
  margin-right: .8em;
  margin-top: .3em;
}

.navbar .container .add:hover {
  color: black;
}

section {
  padding: 5em 2em;
}

a {
  text-decoration: none;
}

.date-posted {
  font-size: .9em;
  margin-top: .6em;
  font-weight: bold;
  color: #616161;
}

.delete-btn-cta {
  background: gray;
  color: white;
  padding: .5em 1em;
  font-size: .9em;
  font-weight: bold;
  border-radius: .5em;
  margin: 0 1em;
}

.delete-btn-cta:hover {
  color: gray;
  background: white;
  border: 1px solid gray;
}

.edit-btn-cta {
  background: var(--primary-color);
  color: white;
  padding: .5em 1em;
  font-size: .9em;
  font-weight: bold;
  border-radius: .5em;
  margin: 0 1em;
}

.edit-btn-cta:hover {
  color: var(--primary-color);
  background: white;
  border: 1px solid var(--primary-color);
}

.first-two-content {
  margin: 2em 1em 3em 1em;
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
  color: #4d4c4c;
  text-align: left;
}

section.head-section .container {
  text-align: center;
}

section.head-section .container .left-col h1 {
  font-size: 2em;
}

section.head-section .container .left-col p {
  color: #818183;
  font-weight: bold;
}

section.head-section .container .left-col .side-by-side {
  margin: 2em 0;
}

section.head-section .container .right-col img {
  width: 60%;
}

section.head-section .container .left-col .side-by-side .rate-us {
  color: white;
  background: var(--primary-color);
  border: 1px solid white;
  padding: .5em 1.9em;
  border-radius: 5em;
  margin-left: .7em;
}

section.head-section .container .left-col .side-by-side .rate-us:hover {
  color: var(--primary-color);
  background: white;
  border: 1px solid var(--primary-color);
}

section.head-section .container .left-col .side-by-side .add-new-post {
  font-weight: bold;
  color: #383737;
}

section.head-section .container .left-col .side-by-side .add-new-post:hover {
  text-decoration: underline;
}

section.head-section .container .right-col img {
  width: 80%;
}

.group-links {
  margin: 0;
  display: none;
  z-index: 1;
}

.group-links .read-more-btn {
  background: green;
  color: white;
  padding: .5em 1em;
  font-size: .9em;
  font-weight: bold;
  border-radius: .5em;
  margin: 0 .7em;
}

.group-links .read-more-btn:hover {
  color: green;
  background: white;
  border: 1px solid green;
}

section.all-posts-section {
  background: lightgray;
  text-align: center;
}

section.all-posts-section .container h1 {
  color: black;
  text-decoration: underline;
}

section.all-posts-section .container .first-half .main-two {
  background: white;
  margin: 7em 0;
}

section.all-posts-section .container .first-half .main-two img {
  width: 130px;
  border-radius: 5em;
  margin-top: -4.5em;
  border: 2px solid white;
}

section.all-posts-section .container .first-half .main-two:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

section.all-posts-section .container .first-half .main-two:hover img {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

section.all-posts-section .container .first-half .main-two h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 0;
}

section.all-posts-section .container .hold-them .second-half {
  background: white;
}

section.all-posts-section .container .hold-them .second-half img {
  width: 130px;
  border-radius: 5em;
  margin-top: -4.5em;
  border: 2px solid white;
}

section.all-posts-section .container .hold-them .second-half h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 0;
}

section.all-posts-section .container .hold-them .second-half:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

section.all-posts-section .container .hold-them .second-half:hover img {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

section.all-posts-section .container .hold-them .third-half {
  display: block;
  text-align: left;
  margin-top: 3em;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

section.all-posts-section .container .hold-them .third-half .popular-posts-title {
  font-size: 1.4em;
  width: 100%;
  background: #F2F2F2;
  padding: 1em 0;
  margin: 0;
}

section.all-posts-section .container .hold-them .third-half .each-ppost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .9em;
  margin: 0;
  background: white;
  border-bottom: 1px solid lightgray;
}

section.all-posts-section .container .hold-them .third-half .each-ppost:hover {
  background: #686767;
}

section.all-posts-section .container .hold-them .third-half .each-ppost:hover .group-links {
  display: block;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

section.all-posts-section .container .hold-them .third-half .each-ppost img {
  width: 60px;
  height: 60px;
}

section.all-posts-section .container .hold-them .third-half .each-ppost .each-ppost-text h2 {
  margin: 0;
  margin-left: .8em;
  font-size: 1.2em;
}

section.all-posts-section .container .hold-them .third-half .each-ppost .each-ppost-text p {
  margin: .5em 0 0 .8em;
}

@-webkit-keyframes fadeIn {
  from {
    display: none;
  }
  to {
    display: block;
  }
}

@keyframes fadeIn {
  from {
    display: none;
  }
  to {
    display: block;
  }
}

form input {
  width: 100%;
  height: 30px;
  margin: .5em 0 1em 0;
}

form textarea {
  width: 100%;
  margin: .5em 0 1em 0;
}

form .success-btn-cta {
  border: none;
  background: gray;
  font-size: 1em;
  color: white;
  padding: .8em 0;
  height: unset;
  width: 70%;
  border-radius: 1em;
  cursor: pointer;
}

form .success-btn-cta:hover {
  background: white;
  color: gray;
  border: 1px solid gray;
}

section.addpost-form-section {
  background: white;
}

section.addpost-form-section .container h1 {
  font-size: 1.7em;
  margin-bottom: 0;
}

section.addpost-form-section .container p {
  margin-top: .5em;
}

section.addpost-form-section .container .center-this {
  text-align: center;
}

section.addpost-form-section .container .center-this img {
  width: 180px;
  height: 180px;
  border-radius: 6em;
  margin: 1em 0;
}

.footer-for-return {
  padding: 1em 0 1em 0;
}

.center-this {
  text-align: center;
}

.cancel-btn-cta {
  background-color: #070707;
  color: white;
  padding: .6em 3em;
  border-radius: 1em;
}

.cancel-btn-cta:hover {
  color: black;
  background: white;
  border: 1px solid black;
}

section.read-posts-section .group-half {
  background: white;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

section.read-posts-section .group-half img {
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 607px) {
  .delete-btn-cta {
    padding: .5em 3em;
  }
  .edit-btn-cta {
    padding: .5em 3em;
  }
}

@media only screen and (min-width: 990px) {
  section.all-posts-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */